.UploadingContert {
  background-color: #fff;
}
.UploadingContert .header {
  width: 17.25rem;
  height: 2.2rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  text-align: center;
  position: relative;
}
.UploadingContert .header .imgIcon {
  font-size: 0.8rem;
  font-family: "微软雅黑", "黑体", "宋体";
  font-weight: 500;
  line-height: 2.2rem;
  position: absolute;
  left: 0;
  top: 0;
}
.UploadingContert .header .imageName {
  font-size: 0.8rem;
  font-family: "微软雅黑", "黑体", "宋体";
  font-weight: 500;
  line-height: 2.2rem;
}
.UploadingContert .imgList {
  width: 17.25rem;
  margin: 0 auto;
  height: 17.25rem;
  background-color: #ccc;
  margin-bottom: 0.45rem;
}
.UploadingContert .headline {
  height: 2.95rem;
  width: 17.25rem;
  margin: 0 auto;
  display: flex;
  margin-bottom: 1.4rem;
}
.UploadingContert .headline .headlineBox .headlineTex {
  width: 14.15rem;
  height: 1.45rem;
  font-size: 0.9rem;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #333333;
  line-height: 1.45rem;
  margin-bottom: 0.25rem;
}
.UploadingContert .headline .headlineBox .price {
  font-size: 18px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #CF1322;
  line-height: 25px;
}
.UploadingContert .headline .giveLike {
  margin-left: auto;
}
.UploadingContert .headline .giveLike .giveLikeIcon {
  line-height: 1.5rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 0.25rem;
  font-size: 1.5rem;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #E02020;
}
.UploadingContert .headline .giveLike .giveLikeNum {
  font-size: 15px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #999999;
  line-height: 1.05rem;
}
.UploadingContert .uploadTime {
  width: 17.25rem;
  margin: 0 auto;
  font-size: 13px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #999999;
  line-height: 18px;
  margin-bottom: 0.85rem;
}
.UploadingContert .introduce {
  width: 17.25rem;
  margin: 0 auto;
  padding-bottom: 0.95rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #f2f2f2;
  font-size: 15px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
  line-height: 24px;
}
.UploadingContert .imgUserList {
  width: 17.25rem;
  margin: 0 auto;
  height: 1.5rem;
  display: flex;
  margin-bottom: 2.65rem;
}
.UploadingContert .imgUserList .head {
  width: 1.5rem;
  height: 1.5rem;
  background-color: red;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.UploadingContert .imgUserList .name {
  height: 1.5rem;
  font-size: 15px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #666666;
  line-height: 1.5rem;
}
.UploadingContert .imgUserList .jiantou {
  height: 1.5rem;
  margin-left: auto;
  line-height: 1.5rem;
  font-size: 0.8rem;
  color: #999;
}
.UploadingContert .botbuy {
  width: 100%;
  height: 2.45rem;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
}
.UploadingContert .botbuy .share {
  width: 5rem;
  height: 2.45rem;
  font-size: 15px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #666666;
  line-height: 2.45rem;
  text-align: center;
  background-color: #fff;
}
.UploadingContert .botbuy .compile {
  width: 13.75rem;
  height: 2.45rem;
  background: #CF1322;
  display: flex;
  position: relative;
}
.UploadingContert .botbuy .compile .compileIcon {
  font-size: 0.8rem;
  height: 0.8rem;
  transform: translate(0%, -50%);
  position: absolute;
  top: 50%;
  left: 4.8rem;
}
.UploadingContert .botbuy .compile .compileTex {
  font-size: 15px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 2.45rem;
  text-align: center;
  margin: 0 auto;
}
